/* --- Estilos Generales / Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #141B22; /* Azul oscuro elegante e institucional */
    color: #ffffff;
    width: 100%;
    height: 160px;
    position: sticky;
    top: 0;
    z-index: 1000;
   
}

.navegador {
    max-width: 1840px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


/* --- Título Central --- */
.navbar h1 {
    font-size: 30.3PX;
    font-family: "Fraunces", serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    flex-grow: 1; /* Hace que el título ocupe el centro */
    margin: 0 20px;
}

/* --- Lista / Navegación --- */
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
}

/* --- Botón Salir --- */
.btn-salir {
    background-color: #27d0dc; 
    color: white;
    border: none;
    padding: 10px 22px;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-salir:hover {
    background-color: #ab9025; /* Rojo más oscuro al pasar el cursor */
}

.btn-salir:active {
    transform: scale(0.95); /* Efecto de presión al hacer clic */
}

/* --- Adaptabilidad (Responsive) --- */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .navbar h1 {
        font-size: 1.1rem;
        margin: 5px 0;
    }
    
    .logo img {
        height: 40px;
    }
}






.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 110px;
    width: auto;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.3s ease;
}



.logo img:hover {
    transform: scale(1.1);
}


body{
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* CONTENEDOR */

.admin-container{
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */

.sidebar{
    width: 260px;
    background: #141B22;
    color: white;
    padding: 30px 20px;
}

.logo{
    margin-bottom: 40px;
}

.logo h2{
    text-align: center;
}

/* MENU */

.sidebar ul{
    list-style: none;
}

.sidebar li{
    margin-bottom: 15px;
}

.sidebar button{
    width: 100%;
    padding: 14px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s;
    font-size: 16px;
}

.sidebar button:hover{
    background: #c19b76;
}

/* CONTENIDO */

.contenido{
    flex: 1;
    padding: 40px;
}

/* SECCIONES */

.seccion-admin{
    display: none;
}

.seccion-admin.active{
    display: block;
}

.seccion-admin h1{
    margin-bottom: 15px;
    color: #222;
}

.seccion-admin p{
    color: #555;
    font-size: 18px;
}