/* =========================
   GALERÍA
========================= */

#galeria{

    width: 100%;
    padding: 80px 20px;
    background: #f3f3f3;
}

/* TÍTULO */

#galeria h2{

    text-align: center;
    font-family: "Pinyon script", cursive;
    font-size: 60.3px;
    margin: 0;
    font-weight: 400;
    color: #ab9025;
}

#galeria h3{

    text-align: center;
    font-family: "Fraunces", cursive;
    font-size: 30.3px;
    margin-bottom: 80px;
    color: black;
}
/* CONTENEDOR IMÁGENES */

.imagenes{

    max-width: 1200px;
    margin: auto;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 25px;
}

/* IMÁGENES */

.imagenes img{

    width: 100%;
    height: 280px;

    object-fit: cover;

    border-radius: 18px;

    cursor: pointer;

    transition: 0.3s ease;
}

/* EFECTO HOVER */

.imagenes img:hover{

    transform: scale(1.03);
}

/* =========================
   MODAL IMAGEN
========================= */

.modal-galeria{

    display: none;

    position: fixed;

    z-index: 999;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.9);

    justify-content: center;
    align-items: center;
}

/* IMAGEN GRANDE */

.modal-galeria img{

    width: 80%;
    max-width: 900px;

    border-radius: 20px;
}

/* BOTÓN CERRAR */

.cerrar-galeria{

    position: absolute;

    top: 20px;
    right: 40px;

    color: white;

    font-size: 50px;

    cursor: pointer;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width: 992px){

    .imagenes{

        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px){

    .imagenes{

        grid-template-columns: 1fr;
    }

    #galeria h2{

        font-size: 38px;
    }

    .modal-galeria img{

        width: 95%;
    }
}